# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\basti\OneDrive\Dokumente\Uni Tübingen\3. Semester\Frame-Shift-Aware-Alignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
